@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #49de99;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #18f;
}

#column-2 {
  background: #f18;
}

#column-3 {
  background: #8f1;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #93f403;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: red;
  }
  .col-3 {
    width: 50%;
    height: 320px;
    float: left;
  }

  #column-1 {
    background-color: orange;
  }

  #column-2 {
    background-color: yellow;
  }

  #column-3 {
    background-color: green;
  }

  footer {
    background-color: blue;
  }

}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  .col-3 {
    width: 33%;
    height: 320px;
    float: left;
  }
  header {
    background-color: white;
  }

  #column-1 {
    background-color: black;
  }

  #column-2 {
    background-color: brown;
  }

  #column-3 {
    background-color: indigo;
  }

  footer {
    background-color: violet;
  }

}
